* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.card-img {
  cursor: pointer;
  transition: all 0.5s linear;
}
.card-img:hover {
  transform: scale(1.05);
}
